<mat-toolbar color="primary">
  <span>RxJS Demos</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="auto-complete" routerLinkActive="active">Auto Complete</button>
  <button mat-button routerLink="product-catalog" routerLinkActive="active">Product Catalog</button>
  <button mat-button routerLink="store-like" routerLinkActive="active">Store Like</button>
  <button mat-button routerLink="log" routerLinkActive="active">Log</button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
